@charset "utf-8";

/* 顶部导航栏开始 */
.topnav_bg{
    height: 36px;
    line-height: 36px;
    background-color: #F5F5F5;
}
.topnav a{
    color: #636363;
    font: 12px "微软雅黑";
}
.topnav a:hover{
    color: #F0580A;
}
.topnav a i{
    margin-left: 4px;
}
/* .topnav a:hover i{
    color: #636363;
} */
.topnav a em{
    font-size: 14px;
    margin-right: 5px;
}
.topnav .topnav_left{
    margin-left: 10px;
}
.topnav .topnav_left a,.topnav .topnav_right a{
    margin-right: 20px;
}
/* 顶部导航栏结束 */

/* 头部开始 */
.header_bg{
    height: 148px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #ED6D12;
}
.header a.logo{
    display: block;
    margin-top: 35px;
}
.header a.logo img{
    height: 40px;
    width: 190px;
    
}
        /* 头部搜索开始 */
.header_search {
    padding: 30px 290px 0 360px;
}
.header_search .search_box{
    
    width: 537px;
    height: 36px;
    border: 2px solid #ED6D11;
}
.header_search .search_box i{
    width: 24px;
    font-size: 14px;
    color: #9A9A9A;
    line-height: 36px;
    text-indent: 9px;
}
.search_box .search_input{
    width: 390px;
    height: 36px;
    line-height: 36px;
    margin-left: 4px;
}
.search_box .search_btn{
    width: 119px;
    height: 36px;
    font: bold 14px "微软雅黑";
    color: white;
    cursor: pointer;
    background-color: #ED6D11;
}
.header_search .search_info{
   margin-top: 7px;
   color: #9A9A9A;  
   font-size: 0px;
   height: 16px;
   line-height: 16px;
}
.header_search .search_info a{    
    font: 12px "微软雅黑";
    color: #9A9A9A;   
}
.header_search .search_info a:hover{    
    color: #F46A10;   
}
.header_search .search_info span{
    font: 12px "微软雅黑";
    margin: 0 11px 0 6px;
}
            /* 头部搜索结束 */
 
            /* 头部导航栏开始 */
    .header_nav{
        margin-top: 17px;
    }

    .hnav_all a.allstyle{   
        display: inline-block; 
        width: 190px;
        height: 38px;
        font: bold 12px/38px "微软雅黑";
        color: white;
        text-indent: 10px;
        background-color: #F26B10;
    }
    .hnav_all a.allstyle:hover{
        background-color:#FF9900;
    }
  
    .header_nav .hnav_all_side{
        height: 38px;
        line-height: 38px;
        margin-left: 23px;
    }
    .header_nav .hnav_all_side a{
        font: bold 14px "微软雅黑";
        color: #232323;
        margin-right: 30px;
    }
    .header_nav .hnav_all_side a:hover{
        color: #FF6600;
    }
/* 头部结束 */

/* 导航栏开始 */
    /* 导航栏第一层开始 */

   .nav .nav_floor1{

       padding-bottom: 12px;
   } 
   .nav .nav_floor1 a{
       display: inline-block;
       line-height: 24px;
       margin-top: 19px;
       color: #565656;
   }
   .nav .nav_floor1 a.last{
       border: 1px dashed #F78E4D;
       color: #FF680A;
       padding: 0 10px;
   }

   .nav_floor2{
       border: 1px solid #E5E4E2;
   }
      
   .nav_floor2 .blank i{
    margin-right: 10px;
    color: #E5B494;
}
    .nav_floor2 a.fr{
    margin-right: 8px;
    color: #B09584;
}
   .nav_floor2 a{
    color: #4D4D4D;
   }
   /* 第一层 *//* 第三层 *//* 第五层 */
.floor2_tr1,.floor2_tr3,.floor2_tr5{

       line-height: 40px;
   }
.floor2_tr1 a,.floor2_tr3 a,.floor2_tr5 a{    
    margin-right: 60px;
}
.floor2_tr1 .blank,.floor2_tr3 .blank,.floor2_tr5 .blank{
    display: inline-block;
    width: 98px;
    background-color: #FCF7F4;

    padding-left: 22px;
    margin-right: 25px;
}


/* 第二层 */
.floor2_tr2,.floor2_tr4{
    border-top: 1px solid #E5E4E2;
    border-bottom: 1px solid #E5E4E2;  
}
.floor2_tr2 a,.floor2_tr4 a{
    display: inline-block;
      line-height: 28px;
      margin-right: 60px;
      padding-top: 8px;
}
.floor2_tr2 a.last,.floor2_tr4 a.last{
    padding-top: 0px;
    padding-bottom: 6px;
}
.floor2_tr2 .blank{
    display: inline-block;
    width: 98px;
    background-color: #FCF7F4;
    padding: 8px 0px 34px 22px;
    padding-left: 22px;
    margin-right: 25px;
}


/* 第四层 */
.floor2_tr4 .blank{
    display: inline-block;
    width: 98px;
    background-color: #FCF7F4;
    padding: 8px 0px 34px 22px;
    padding-left: 22px;
    margin-right: 25px;
}
/* 导航栏结束 */

/* 内容开始 */
.content{
    margin-top: 20px;
   
}
/* 内容左边开始 */

.content_left{
    width: 174px;
    padding: 0 17px;
    border: 1px solid #E7E2E6;
    border-top: 2px solid #FF8E3E;
}
.content_left h2{
    margin-top: 14px;
    font-weight: bold;
    font-size: 16px;
    color: #FE5B00;
}
.content_left img{
    margin: 30px 22px 18px;
}
.content_left p a{
    display: block;
    line-height: 18px;
    color: #646464;
}
.content_left p{
    color: #EE651D;
    line-height: 21px;
}
/* 内容左边结束 */

/* 内容右边开始 */
.right_head{
    width: 970px;
    height: 43px;
    margin-bottom: 18px;
    background-color: #FCF7F4;
}
.right_head .head_left{
    width: 215px;
    height: 24px;
    margin-top: 7px;
    margin-left: 12px;
    border: 1px solid #D9D9D9;
}
.right_head .head_left a{
    display: inline-block;
    line-height: 24px;
    width: 50px;
    text-align: center;
    color: #636363;
}
.right_head .head_left a:hover{
    color: #ED001F;
}
.right_head .head_left a.active{
    color: #ED001F;
}
.right_head .head_left a.a2{
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}
.right_head .head_left a.a3{

    border-right: 1px solid #D9D9D9;
}
.right_head .head_right{
    margin-right: 12px;
    line-height: 43px;
}
.right_head .head_right .span1{
    margin-right: 18px;
}
.right_head .head_right .span2{
    color: #ED001F;
}
.right_head .head_right i{
    color: #D9D9D9;
}
.right_con{
    width: 970px;
}
.right_con ul li{
float: left;
padding: 63px 20px 15px;
/* width: 235px; */
margin-bottom: 30px;
border: 3px solid white;
}
.right_con ul li.active{
    border: 3px solid #F66B16;
}
.right_con ul li img{

    margin-bottom: 45px;
}
.right_con ul li h3{
    margin-bottom: 13px;
    font-size: 16px;
    color: #EA6B0C;
 
}
.right_con ul li p {
    line-height: 20px;
}
.right_con ul li .info a{
    color: #626262;
}
.right_con ul li .tip a{
    color: #EE6107 ;
}
.right_con ul li .pj{
    margin-top: 6px;
    margin-bottom: 14px;
}
.right_con ul li .pj span{
    color: #EC4302;
    font-weight: bold;
}
.right_con ul li .work{
    width: 193px;
    height: 28px;    
    border: 1px solid #D8D8D8;
}
.right_con ul li .work .che{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-right: 12px;
    color: #626262;
  
}
.right_con ul li .work i{
display: inline-block;
width: 33px;
height: 28px;
line-height: 28px;
text-align: center;
font-size: 16px;

}
.right_con ul li .work i.cang_i{
    border-left: 1px solid #D8D8D8;
}
.right_con ul li .work .cang{
    height: 28px;
    line-height: 28px;
    display: inline-block;
    color: #626262;
    margin-left: 5px;
}
.right_btn{
    width: 970px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 82px;
}
.right_btn a{
    display: inline-block;   
    height: 28px;
    line-height: 28px;
    width: 28px;
    color: #ACACAC;
    margin-right: 8px;
    border: 1px solid #D9D9D9;
}

.right_btn a.prev,.right_btn a.next{
    width: 76px;
    border: 1px solid #D9D9D9;
    color: #ACACAC;
}
.right_btn a:hover{
    border: 1px solid #F26E0C;
    color: #FF6B00;
}
/* 内容结束 */

/* 页脚开始 */
/* 页脚第一层 */
.footer_bg{ 

    background-color: #363636;
    clear: both;
}
.footer1_bg{   
     overflow: hidden;
    padding-bottom: 25px;
     padding-top: 15px;
}

.footer1_con{
    margin-left: 90px;
}
.footer1 dl{
float: left;
color: #9C9C9C;
margin-left: 85px;
}
.footer1 dl dt{
    font-size: 18px;
    line-height: 45px;
    height: 45px;
}
.footer1 dl dd{
    height: 30px;
    line-height: 30px;
}
.footer1 dl dd a{
    color: #9C9C9C;
    font-size: 14px;

}
/* 页脚第二层 */
.footer2_bg{
    background-color: #363636;
    border-top: 1px solid #414141;
}
.footer2{
    padding: 23px 0;
}
.footer2 p{
    color: #6F6F6F;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
/* 页脚结束*/